In [1]:
%config Completer.use_jedi = False  # Enable intelisense

In [2]:
from pymongo import MongoClient
import pandas as pd     # Not sure Pandas can show in PyCharm
import pql              # Python-Query-Language: translates python expressions to MongoDB queries.

# MongoDB connection string
myClient = MongoClient(
    host='172.17.30.23:27017',
    serverSelectionTimeoutMS=3000,
    username="sa",
    password="global11!"
)

# Select Database and Collection
myDB = myClient["test"]
myCollection = myDB["demo"]

# Query collection test.demo for number = '1000-10'
myQuery = {
        "balance" : {
            "$gte" : 20,
            "$lte" : 30
        }
    }

# Run query (using sort and limit)
myDoc = myCollection.find(myQuery).sort("balance", -1).limit(5)  # -1 descending

# Print using Pandas
entries = list(myDoc)
df = pd.DataFrame(entries)
df


# Print the results to the console
# for x in myDoc:
#    print(x)

# Show all Databases
# database_names = myClient.list_database_names()
# print ("\ndatabases:", database_names)

# PQL translates python expressions to MongoDB queries.
# pql.SchemaFreeParser("a > 1 and b == 'foo'")

                        _id       number currency    balance
0  63a44726246733a1f79aa115  1000-158726      EUR  29.948151
1  63a4470f246733a1f799a0e1   1000-93138      EUR  28.781703
2  63a4471a246733a1f79a11a2  1000-122003      EUR  28.716396
3  63a446f1246733a1f798511a    1000-7179      EUR  27.403836
4  63a4471c246733a1f79a2819  1000-127754      EUR  26.594524